<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.mvc.user.repository.IUserMapper">

	<!-- DB컬럼명과 VO클래스의 필드명이 다르므로 ResultMap 세팅 -->
	<resultMap id="UserMap" type="com.spring.mvc.user.model.UserVO" >
		<id property="account" column="account" />
		<result property="password" column="password" />
		<result property="name" column="name" />
		<result property="regDate" column="reg_date" />
	</resultMap>
	

	<!-- 아이디 중복 확인 SQL -->
	<select id="checkId" resultType="int">
		SELECT COUNT(*)
		FROM mvc_user
		WHERE account=#{account}
	</select>

	<!-- 회원가입 SQL -->
	<insert id="register">
		INSERT INTO mvc_user
		(account, password, name)
		VALUES (#{account}, #{password}, #{name})
	</insert>
	
	<!-- 회원정보 조회 SQL -->
	<select id="selectOne" resultMap="UserMap">
		SELECT * FROM mvc_user
		WHERE account=#{account}
	</select>

</mapper>























